#conteudo{
    float: left;
    width: 100%;
}

#cabecalho{
    float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: green;
}

#central{
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: red;
}

#rodape{
    float: left;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: pink;
}