div{
    float: left;
}
#conteudo {
    width: 100%;
}
#cabecalho, #rodape{
    width: 98%;
    border: solid;
    height: 300px; 
    text-align: center;
    margin: 2px;
}
#central{
    width: 60%;
    border: solid;
    float: left;
    height: 300px;
    text-align: center;
    margin: 2px;
    
}

#direita{
    width: 37%;
    float: right;
    border: solid;
    height: 300px; 
    text-align: center;
    margin: 2px;
}